<style>
    .container{
        margin-top:30px;
    }

    .filter-col{
        padding-left:10px;
        padding-right:10px;
    }
</style>
<form id="frmCadIngresso" name="frmCadIngresso">
    <div class="row">
        <div id="filter-panel" class="collapse filter-panel">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-inline" role="form">
                        <div class="form-group">
                            <label class="filter-col" style="margin-right:0;" for="pref-perpage">Rows per page:</label>
                            <select id="pref-perpage" class="form-control">
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option selected="selected" value="10">10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="200">200</option>
                                <option value="300">300</option>
                                <option value="400">400</option>
                                <option value="500">500</option>
                                <option value="1000">1000</option>
                            </select>
                        </div> <!-- form group [rows] -->
                        <div class="form-group">
                            <label class="filter-col" style="margin-right:0;" for="pref-search">Search:</label>
                            <input type="text" class="form-control input-sm" id="pref-search">
                        </div><!-- form group [search] -->
                        <div class="form-group">
                            <label class="filter-col" style="margin-right:0;" for="pref-orderby">Order by:</label>
                            <select id="pref-orderby" class="form-control">
                                <option>Descendent</option>
                            </select>
                        </div> <!-- form group [order by] -->
                        <div class="form-group pull-right">
                            <button type="submit" class="btn btn-default filter-col" data-toggle="collapse" data-target="#filter-panel">
                                <span class="glyphicon glyphicon-record"></span> Pesquisar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <div class="title">Pesquisar ingressos</div>
                    </div>
                    <div class="pull-right card-action">
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#filter-panel">
                                <span class="glyphicon glyphicon-cog"></span> Filtrar resultados
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row no-margin no-gap">
                        <div class="col-sm-4" ng-repeat="ingresso in ingressosResult">
                            <div class="pricing-table green">
                                <div class="pt-header">
                                    <div class="plan-pricing">
                                        <img  ng-src="data:image/png;base64,{{ingresso.foto.bites}}" err-src="http://lauterry.github.io/slides-prez-angular/img/angularjs.png" height="300" width="300">
                                        <div class="pricing">Data do evento: <span ng-bind="ingresso.dataIngresso | date:'dd/MM/yyyy'"></span> <span ng-show="!ingresso.dataIngresso">Em aberto</span></div>
                                        <div class="pricing-type">Cadastrado por: {{ingresso.usuario.nome}} em {{ingresso.dataInclusao | date:'dd/MM/yyyy'}}</div>
                                    </div>
                                </div>
                                <div class="pt-body">
                                    <h5 style="height: 45px">{{ingresso.descricao}}</h5>
                                    <ul class="plan-detail">
                                        <li>{{ingresso.endereco.bairro }}, {{ingresso.endereco.localidade}} - {{ingresso.endereco.uf}}</li>
                                        <li style="font-size:2em;">
                                            <i class="fa fa-facebook-square" aria-hidden="true" ></i>
                                            <i class="fa fa-heart" aria-hidden="true"></i>
                                        </li>
                                    </ul>
                                </div>
                                <div class="pt-footer">
                                    <button type="button" class="btn btn-success">Entrar em contato</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>